<p id="notice"><%= notice %></p>

<p>
  <strong>Address:</strong>
  <%= @search.address %>
</p>

<p>
  <strong>Category:</strong>
  <%= @search.category %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @search.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @search.longitude %>
</p>

<%= link_to 'Edit', edit_search_path(@search) %> |
<%= link_to 'Back', searches_path %>
